:root {
  --pixel-size: 5;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
}

.versionNumber{
  position: fixed;
  color: #fff;
  bottom: 0;
  font-size: 15px;
  width: 100%;
  text-align: right;
  padding-right: 5px;
}