.mark {
  background-color: #ffffff;
  border: none;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 1px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.X-mark.winMark{
  background-color: #ffbcbc;
}
.O-mark.winMark{
  background-color: #c3ebff;
}
.mark:hover {
  background-color: #e3e3e3;
}
