.mark {
  background-color: #ffffff;
  border: none;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 1px;
  cursor: pointer;
}

.X-mark {
  color: rgb(255, 70, 37);
}

.O-mark {
  color: rgb(44, 135, 255);
}

.mark:hover {
  background-color: #e3e3e3
}
