.gameMenu {
  height: auto;
}
.gameContainer {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.btn {
  margin: 0 5px 0 0;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0);
  background: none;
  cursor: pointer;
  outline: none;
}
.btn:focus {
  border: 1px solid white;
}
.btn.homeBtn {
  width: calc(10px * var(--pixel-size));
  image-rendering: pixelated;
}
.btn.homeBtn:hover {
  transform: scale(1.2);
  image-rendering: pixelated;
}
.btn.soundBtn {
  width: calc(10px * var(--pixel-size));
  image-rendering: pixelated;
}
.btn.soundBtn:hover {
  transform: scale(1.2);
  image-rendering: pixelated;
}
.btn.resetBtn {
  width: calc(10px * var(--pixel-size));
  image-rendering: pixelated;
}
.btn.resetBtn:hover {
  transform: scale(1.2);
  image-rendering: pixelated;
}
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0px;
}
.gameFooter {
  min-height: 60px;
}
.textGap {
  margin-right: 10px;
}
.justifyContentCenter {
  justify-content: center;
}
.justifyContentEnd {
  justify-content: end;
}
.justifyContentAround {
  justify-content: space-around;
}
.justifyContentEvenly {
  justify-content: space-evenly;
}
.alignItemsBaseline {
  align-items: baseline;
}
.alignItemsCenter {
  align-items: center;
}
.textMode {
  font-size: 3rem;
  -webkit-font-smoothing: none;
}
.textWinner {
  font-size: 3rem;
  -webkit-font-smoothing: none;
}
.textScore {
  font-size: 3rem;
  -webkit-font-smoothing: none;
  width: 300px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.markWinner {
  font-size: 4rem;
  -webkit-font-smoothing: none;
}
.resultText {
  font-size: 3rem;
  -webkit-font-smoothing: none;
}
.winnerX {
  color: #d8294e;
}
.winnerO {
  color: #71bbff;
}
.draw {
  color: #7a7a7a;
}
.modeSelect {
  font-size: 5rem;
  animation: wiggle 3s linear infinite;
  -webkit-font-smoothing: none;
}
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}
