.gameContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0px;
}

.justifyContentCenter {
  justify-content: center;
}
.alignItemsBaseline{
  align-items: baseline;
}

.textMode{
  font-size: 3rem;
  -webkit-font-smoothing: none;
}

.resultText {
  font-size: 3rem;
  -webkit-font-smoothing: none;
}

.winnerX{
  color: #d8294e;
}
.winnerO{
  color: #71bbff;
}

.modeSelect{
  font-size: 5rem;
  animation: wiggle 3s linear infinite;
  -webkit-font-smoothing: none;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

